[DuckDB]
path = data/quantnodes.db
read_only = False

[ClickHouse]
host = localhost
port = 8123
user = default
passwd = your-password
db = default

[MySQL]
host = localhost
port = 3306
user = root
passwd = your-password
db = quant
